#header{
  padding: 3vh;
  background-color: black;

}

#header h2{
  font-family: Georgia, serif;
  font-size: 5vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}

 h4{
  font-family: Georgia, serif;
  font-size: 5vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
   padding: 4vh;
}

.list-group-item
{
  border: 2px solid black;
}
