

  <div  class="list row  text-center">
    <div  id = "header" class="col-md-12">
      <h2>Guinness Grader</h2>
      <img id= "header_image"  src="../../../assets/header_pint.jpg" alt="Picture of Guinness" class="col-md-3 px-0" >
    </div>



    <div id = middle class="col-md-12">
      <h3>Find The Best Pint Of Guinness in Dublin !</h3>

      <img src="../../../assets/cartoon_guinness.png" alt="Picture of Guinness" class="rounded-circle" style="border: 7px solid black;">
    </div>

    <div id = bottom class="col-md-12">
      <h3>It's a 3 Step Process !</h3>


    <div id="step1">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
              <h6>Step 1</h6>
          </div>

          <div class="col-xs-12 col-sm-8">
              <p>Use GuinnessGrader to find a Pub with Great Guinness</p>
          </div>
        </div>
      </div>
    </div>


      <div id="step2">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-4 h-100">
              <h6>Step 2</h6>
            </div>

            <div class="col-xs-12 col-sm-8">
              <p>Once you've found a Pub, Go and Enjoy Your Pint !</p>
            </div>
          </div>
        </div>
      </div>


      <div id="step3">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-4">
              <h6>Step 3</h6>
            </div>

            <div class="col-xs-12 col-sm-8">
              <p>Leave A Review, so Others Can Share Your Experience</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>



