

  <div  class="list row  text-center">
    <div  id = header class="col-md-12 max-width: 100% ">
      <h2>Rate That Pint</h2>
      <img src="../../../assets/cartoon_guinness.png" alt="Picture of Guinness" class="rounded-circle">
    </div>



    <div id = middle class="col-md-12 max-width: 100%">
      <h2>Find The Best Pint Of Guinness in Ireland</h2>
    </div>

    <div id = bottom class="col-md-12 max-width: 100%">
      <p class="option">Search By Pub</p>
      <p class="option">Review A Pint</p>
    </div>
  </div>





