h2 {

  font-family: Georgia, serif;
  font-size: 8vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;


}

h3 {

  font-family: Georgia, serif;
  font-size: 6vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;


}


#header{

  background-color: #000000;


}

#middle{

  background-color: #ffffff;
  padding-top: 5vh;
  padding-bottom: 5vh;

}

#bottom{

  background-color: #030303;
  padding-top: 5vh;
  padding-bottom: 5vh;

}

#bottom h3{

color: white;
  padding-bottom: 5vh;

}

#step1{

 background-color: #74ff7f;

}


#step2{

  background-color: #ffffff;

}

#step3{

  background-color: #ffcb56;

}





#step1 p{

  display: inline-block;
  background-color: #74ff7f;
  font-family: Georgia, serif;
  font-size: 4vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;


}


#step2 p{

  display: inline-block;
  font-family: Georgia, serif;
  font-size: 4vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;

}



#step3 p{
  display: inline-block;
  background-color: #ffcb56;
  font-family: Georgia, serif;
  font-size: 4vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;

}


h6{
  display: inline-block;

  font-family: Georgia, serif;
  font-size: 4vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  padding-top: 3vh;
  text-decoration: underline;

}
