#map {
  height: 55vh;
  width: 100%;
}


#header{
  height: 7%;
  background-color: black;
  padding: 3%;
}

h4{
  color: white;
}

h3{
  color: #ffffff;
  font-family: Georgia, serif;
  font-size: 2vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}


#name{
  padding: 3vh;
  background-color: black;

}

#name h2{
  font-family: Georgia, serif;
  font-size: 5vh;
  letter-spacing: 2.4px;
  word-spacing: -0.4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}


#make_review
{
  padding: 3vh;
  background-color: #ffffff;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.list-group-item{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#write{
  margin-top: 1vh;
  border: 2px solid black;
  color: white;
  background-color: black;
}

#write:hover{
  margin-top: 1vh;
  border: 2px solid black;
  color: white;
  background-color: #74ff7f;
}

#map{
  border: 2px solid black;
}


.modal-header{
  text-align: center;
  background-color: black;
}

.close
{
  color: red;
}

.form-group input {
  border: 2px solid black;
}

.form-group textarea {
  border: 2px solid black;
}


#rating_error{
  display: block;
}
