<div class="container mt-3">
<div *ngIf="!currentPub">
  <br />
  <p>Cannot access this Recipe...</p>
</div>

<div class="list row">
<div class="col-md-12">
  <div *ngIf="currentPub" class="text-center">
    <div id="name">
      <h2>{{ currentPub.name }}</h2>
    </div>
  </div>


    <div #mapContainer id="map"></div>



<div id="make_review">
  <div class="col-md-12 text-center">
    <h2>Review the Guinness at {{ currentPub.name }}</h2>


    <!-- Button to Open the Modal -->
    <button id="write" type="button" class="btn" data-toggle="modal" data-target="#myModal">
      Write Review
    </button>
  </div>
</div>
  <div id = "header" class="col-md-12 text-center">
    <h4>Reviews of Guinness at {{ currentPub.name }}</h4>
  </div>



    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let review of reviews"
      >
        <div>
          <label><strong>Review Title:</strong></label>
          {{ review.review_title}}
        </div>
        <div>
          <label><strong>Review:</strong></label>
          {{ review.review_text}}
        </div>

        <div>
          <label><strong>Rating:</strong></label>
          {{ review.rating}}
        </div>

        <div>
          <label><strong>Posted By:</strong></label>
          {{ review.user }}
        </div>


        <button  *ngIf="showAdminBoard" class="badge badge-danger float-right" (click)="deleteReview(review.id)">
          Delete
        </button>

      </li>
    </ul>



    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" *ngIf="!submitted">Review of Guinness at {{ currentPub.name }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="!submitted" >
            Type your review below
          </div>

          <div class="submit-form">
            <div *ngIf="!submitted">

              <div class="form-group">
                <label for="review_title">Sum up your review in 5 Words </label>
                <input
                  type="text"
                  class="form-control"
                  id="review_title"
                  required
                  [(ngModel)]="review.review_title"
                  name="review_title"
                />
              </div>

              <div class="form-group">
                <label for="review_text">Please Type your Review Below </label>
                <input
                  type="text"
                  class="form-control"
                  id="review_text"
                  required
                  [(ngModel)]="review.review_text"
                  name="review_text"
                />
              </div>

              <div class="form-group">
                <label for="rating">Please Rate the Pub</label>
                <input
                  class="form-control"
                  id="rating"
                  required
                  [(ngModel)]="review.rating"
                  name="rating"
                />
              </div>







          <!-- Modal footer -->
          <div class="modal-footer">
            <button (click)="saveReview(currentPub.id)" class="btn btn-success">Submit</button>
          </div>
            </div>


            <div *ngIf="submitted">

              <div class="text-center">
                <h5>Your Review Has Successfully Been Posted!</h5>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Reload()">Close</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

</div>
