<div class="container mt-3">
<div *ngIf="!currentPub">
  <br />
  <p>Cannot access this Recipe...</p>
</div>

<div class="list row">
<div class="col-md-12">
  <div *ngIf="currentPub" class="text-center">
    <div id="name">
      <h2>{{ currentPub.name }}</h2>
    </div>
  </div>


    <div #mapContainer id="map"></div>



<div id="make_review">
  <div class="col-md-12 text-center">
    <h2>Review the Guinness at {{ currentPub.name }}</h2>


    <!-- Button to Open the Modal -->
    <button id="write" type="button" class="btn" data-toggle="modal" data-target="#myModal">
      Write Review
    </button>
  </div>
</div>
  <div id = "header" class="col-md-12 text-center">
    <h4>Reviews of Guinness at {{ currentPub.name }}</h4>
  </div>

  <p>{{NoReviews}}</p>



    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let review of reviews"

      >
        <div>
          <label><strong>Review Title:</strong></label>
          {{ review.review_title}}
        </div>
        <div>
          <label><strong>Review:</strong></label>
          {{ review.review_text}}
        </div>

        <div>
          <div class="stardiv" >
            <div>
              <img src="https://image.ibb.co/jpMUXa/stars_blank.png" alt="img">
            </div>
            <div class="starimage"  [ngStyle]="{width: GetWidth(review.rating) }">
              <img src="https://image.ibb.co/caxgdF/stars_full.png" alt="">
            </div>
          </div>
        </div>

        <div>
          <label><strong>Posted By:</strong></label>
          {{ review.user }}
        </div>




        <button  *ngIf="showAdminBoard" class="badge badge-danger float-right" (click)="deleteReview(review.id)">
          Delete
        </button>

      </li>
    </ul>



    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h3 class="modal-title" *ngIf="!submitted">Review of Guinness at {{ currentPub.name }}</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="!submitted" >


          <div class="submit-form">
            <div *ngIf="!submitted">
              <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && saveReview(currentPub.id)"
                #f="ngForm"
                novalidate>
                  <div class="form-group">
                    <label for="review_title">Review Title </label>
                    <input
                      type="text"
                      class="form-control"
                      id="review_title"
                      required
                      minlength="10"
                      maxlength="100"
                      [(ngModel)]="review.review_title"
                      name="review_title"
                      #review_title="ngModel"
                      placeholder="Please Give Your Review A Title"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && review_title.invalid">
                      <div *ngIf="review_title.errors.required">Title of the Review required</div>
                      <div *ngIf="review_title.errors.minlength">Title must be at least 10 characters</div>
                      <div *ngIf="review_title.errors.maxlength">Title must be at most 100 characters</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="review_text">Please Type your Review Below </label>
                    <textarea
                      class="form-control"
                      id="review_text"
                      required
                      minlength="15"
                      maxlength="500"
                      [(ngModel)]="review.review_text"
                      name="review_text"
                      #review_text="ngModel"
                      placeholder="Please Write Your Review"
                    ></textarea>
                    <div class="alert-danger" *ngIf="f.submitted && review_text.invalid">
                      <div *ngIf="review_text.errors.required"> A Review of the Guinness is required</div>
                      <div *ngIf="review_text.errors.minlength">Your Review must be at least 15 characters</div>
                      <div *ngIf="review_text.errors.maxlength">Your Review be at most 500 characters</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="rating">Please Rate the Guinness Out of 5</label>
                    <input
                      class="form-control"
                      id="rating"
                      type="number"
                      required
                      [(ngModel)]="review.rating"
                      name="rating"
                      #rating="ngModel"
                      placeholder="Please Rate the Guinness Out of 5"
                    />

                    <div class="alert-danger" *ngIf="f.submitted && rating.invalid">
                      <div *ngIf="rating.errors.required"> A Rating of the Guinness is required</div>
                    </div>
                    <div class="alert-danger">
                    <div id="rating_error">{{message}}</div>
                    </div>
                  </div>


          <!-- Modal footer -->
                  <div class="modal-footer">
                        <div class="form-group  col-md-12 text-center" >
                        <button  class="btn btn-success ">Submit</button>
                        </div>
                  </div>
              </form>
            </div>
          </div>
          </div>

            <div *ngIf="submitted">

              <div class="text-center">
                <h5>Your Review Has Successfully Been Posted!</h5>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Reload()">Close</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


