<div class="container mt-3">
  <div id="header" class="text-center">
    <h2>Add a New Pub To the Database</h2>
  </div>
<div class="submit-form mx-auto col-md-12 center-block" style="border: 2px solid black">
  <div *ngIf="!submitted">
    <form
      *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && savePub()"
        #f="ngForm"
        novalidate>



    <div class="form-group col-md-6" style=" margin: 0 auto;float: none;">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        minlength="3"
        maxlength="50"
        [(ngModel)]="pub.name"
        name="name"
        #name="ngModel"
        placeholder="What is the Pubs Name ?"
        style="border: 2px solid black"
      />
      <div class="alert-danger" *ngIf="f.submitted && name.invalid">
        <div *ngIf="name.errors.required">Name of the Pub required</div>
        <div *ngIf="name.errors.minlength">Name must be at least 3 characters</div>
        <div *ngIf="name.errors.maxlength">Name must be at most 50 characters</div>
      </div>
    </div>

    <div class="form-group  col-md-6 " style=" margin: 0 auto;float: none;">
      <label for="address">Address of Pub </label>
      <input
        class="form-control"
        id="address"
        required
        minlength="3"
        maxlength="100"
        [(ngModel)]="pub.address"
        name="address"
        #address="ngModel"
        placeholder="What is the Pubs Address ?"
        style="border: 2px solid black"
        (keyup)="GetBusinessAddress()"
      />
      <div class="alert-danger" *ngIf="f.submitted && address.invalid">
        <div *ngIf="address.errors.required">Address of the Pub required</div>
        <div *ngIf="address.errors.minlength">Address must be at least 3 characters</div>
        <div *ngIf="address.errors.maxlength">Address must be at most 100 characters</div>
      </div>
    </div>

    <div class="form-group  col-md-12 text-center" >
    <button  class="btn btn-success" >Add Pub</button>
    </div>
  </form>
</div>

  <div *ngIf="submitted" class="text-center">
    <h4>Pub Successfully Added!</h4>
    <button class="btn btn-success" (click)="newPub()">Add Another Pub</button>
  </div>
</div>


<div class="list row">
  <div class="col-md-12">
    <div #mapContainer id="map"></div>
  </div>
</div>

<p id="lat"></p>
<p id="lon"></p>
</div>
