<div class="container mt-3">
<div class="list row">
<div class="col-md-12">
  <div id="header" class="col-md-12 text-center">
    <h2>Your Reviews </h2>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let review of reviews"
    >
      <div>
        <label><strong>Review Title:</strong></label>
        {{ review.review_title}}
      </div>
      <div>
        <label><strong>Review:</strong></label>
        {{ review.review_text}}
      </div>

      <div>
        <label><strong>Rating:</strong></label>
        {{ review.rating}}
      </div>

      <div>
        <label><strong>Posted By:</strong></label>
        {{ review.user }}
      </div>
      <button class="badge badge-danger mr-2" (click)="deleteReview(review.id)">
        Delete
      </button>

      <a class="badge badge-warning" href="/update/{{ review.id }}">
        Edit
      </a>
    </li>
  </ul>
</div>
</div>
</div>
